header {
    grid-area: H;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: bisque;
    border-radius: 16px;
}

.box {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkkhaki;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: #fff;
    border: 2px solid coral;
    cursor: pointer;
    font-size: 1.25rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav a {
    text-decoration: none;
    color: #141414;
}

.login {
    background-color: rgb(250, 53, 119);
    padding: 8px 16px;
    border-radius: 10px;
    color: #fff !important;
    transition: all 0.3s ease;
}

.login:hover,
.login:focus {
    background-color: rgb(236, 48, 110);
}