.content {
    grid-area: C;
    background-color: #e9edc9;
    border-radius: 16px;
    padding: 20px;
    display: grid;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.card {
    /* background-color: azure; */
    background-color: #e3d5ca;
    border-radius: 10px;
    padding: 20px;
}
